<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="css/style.css">
</head>
<body>

<h1>Topics Input Slider</h1>

<div class="slidecontainer">
  <label for="Temp"> <b>Temperature:&nbsp;  </label>
  <input type="range" min="0" max="100" value="50" class="slider" id="Tempid" name="Temp">  
  <form method = "GET">
  <span id="Tempval" name="Tempval" ></span>
  </form>

  <p><label for="Vol"> <b>Volume: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
  <input type="range" min="0" max="100" value="50" class="slider" id="Volid" name="Vol">  
  <form method = "GET">
  <span id="Volval" name="Volval"></span>
  </form>

  <p><label for="Visc"> <b>Viscosity: &nbsp; &nbsp; &nbsp; &nbsp; </label>
  <input type="range" min="0" max="100" value="50" class="slider" id="Viscid" name="Visc">  
  <form method = "GET">
  <span id="Viscval" name="Viscval"></span>
  </form>
</div>
</form>

<form method = "POST">
<p>output is: {{ output }} </p>
<form>

<script>
   
    var slider = document.getElementById("Tempid");
    var output = document.getElementById("Tempval");
    output.innerHTML = slider.value; // Display the default slider value.

    slider.oninput = function() {        
    output.innerHTML = this.value;
    }

    var sliderVol = document.getElementById("Volid");
    var outputVol = document.getElementById("Volval");    
    outputVol.innerHTML = sliderVol.value; // Display the default slider value.

    sliderVol.oninput = function() {        
    outputVol.innerHTML = this.value;
    }

    var sliderVisc = document.getElementById("Viscid");
    var outputVisc = document.getElementById("Viscval");    
    outputVisc.innerHTML = sliderVol.value; // Display the default slider value.

    sliderVisc.oninput = function() {        
    outputVisc.innerHTML = this.value;
    }




    // Update the current slider value (each time you drag the slider handle)
 
</script>




</body>
</html>